<template>
  <style>
    * { background-color: papayawhip; }

    .the-army { display: inline-block; }
  </style>

  <div class="the-army">&#x1f984;&#x1f984;&#x1f984;&#x1f984;&#x1f984;&#x1f984;</div>
</template>
