<template>
  <style>
    .the-army {
      display: inline-block;
      background-color: salmon;
    }
  </style>
  <div class="the-army">&#x1f984;&#x1f984;&#x1f984;&#x1f984;&#x1f984;&#x1f984;</div>
</template>
