<html>
<head>
  ...
  <link rel="import" href="./unicorn-army.html">
</head>
<body>
  ...
  <unicorn-army>
    <style>
      * { background-color: cornflowerblue; }
      .the-army { display: inline-block; }
    </style>
    <div class="the-army">&#x1f984;&#x1f984;&#x1f984;&#x1f984;&#x1f984;&#x1f984;</div>
  </unicorn-army>
</body>
</html>
