<template id="unicorn-army-template">
  ...
</template>
<script>
  const guestDoc = document.currentScript.ownerDocument;

  class UnicornArmy extends HTMLElement {
    constructor() {
      super();

      const template = guestDoc.querySelector('#unicorn-army-template');
      const instance = template.content.cloneNode();

      this.appendChild(instance);
    }
  }

  window.customElements.define('unicorn-army', UnicornArmy);
</script>
